#educationn{
    padding-top: 5rem;
}

.institution{
    margin-bottom: 3rem;
    padding: 2rem 0;
    background: var(--color-bg-varient);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border: 1px solid transparent;
    width: 50%;
    margin-left: 25%;
    border-radius: 2rem;
}

.institution:hover{
    color: var(--color-primary);
    background: transparent;
    transition: 1s ease;
    border: 1px solid var(--color-bg-varient);
}

/* ================MEDIA QUERIES (MEDIUM DEVICES)=================== */

@media screen and (max-width: 1024px) {
    .institution{
        width: 70%;
        margin-left: 15%;
    }
}

/* ================MEDIA QUERIES (MEDIUM DEVICES)=================== */

@media screen and (max-width: 600px) {
    .institution{
        width: 100%;
        margin-left: 0%;
    }
}
