nav{
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

}

nav a{
    background: transparent;
    padding: 0.6rem;
    font-size: 1.3rem;
    border-radius: 50%;
    display: flex;
}

nav a:hover{
    background-color: var(--color-primary);
    transition: all 0.52s ease;
}

nav a.active{
    background-color: var(--color-primary);
    color: var(--color-white);
}